﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Aquilent.Cara.Domain.CaraSetting>" %>

<% if (Model != null)
   { %>
    <div style="width:650px;"><%=HttpUtility.HtmlDecode(Model.Value)%></div>
<% } %>
