﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>

<p><span class="message">New Custom Code has been saved successfully.</span></p>
<br />
<input type="button" value="<%=Constants.CLOSE %>" name="cancel" class="button" onclick="closeWindow(true)" />