﻿#logoSkipNav, #topnav, #leftcol, #rightcol, #contenttop, #footer, .noPrint {display:none}
#centercol img {border:1px solid #333; }
#centercol .photogallery {position: relative; float: left;width:100%;}
#centercol,#pagetitletop,#centercolfullwidth   {	width:767px;	border: 0;	margin: 0;	padding: 0;	float: none;}
#pagetitletop h1 {width:767px;	border: 0;	margin: 0;	padding: 0;	float: none;}
a {text-decoration:none}
a img {border:none}