﻿@charset "utf-8";
/* CSS Reset - Eric Meyer */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
    list-style: none;
	}
#customPublicText ol {
    list-style-type:decimal; 
    list-style-position:inside;   
    }
#customPublicText ul {
    list-style-type:disc; 
    list-style-position:inside;   
    }    
	
/* address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
/* q:before, q:after {
	content: '';
	}
*/
abbr, acronym { 
	border: 0;
	}