﻿@charset "utf-8";
/* Container CSS Document */
/*
body  
{
	background-color: #3e3e3e;
	margin:0; 
	padding:0;	
	/*additions below from main_2.css
	FONT-SIZE: 10px;
	COLOR: black;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	/*BACKGROUND-COLOR: GREY*/
	/*end of additions from main_2.css
}
*/
form 	
{
	display: inline; 
	margin-bottom: 0px;
	padding: 0;
} 
/*********SKIN STYLES*************/	
.skinHeight{height:0px;}
.skinFloatRight{}
/*********TOP************ */
.WhiteBackgroundColor {background-color: #FFFDEE;}	
/*********TOP************
#logoSkipNav a{color: #44551E;}
a.FseLogoColor	{color: #44551E;} 			
.WIDBackgroundColor	{background-color: #44551E;margin-bottom: 0px;}
*/
/*********BOTTOM*************/	
/* NOT IN CURRENT TEMPLATE ??? */
.widfootertable	{margin-top:7px; border-top:1px solid #86A63B}
/**********HEIGHTS***************/	
.Height21	{height:21px}
.Height3	{height:3px}
.Height5	{height:5px}
.Height10	{height:10px}
.Height0	{height:0px}
.Height16	{height:16px}
.Height20	{height:20px}
.Height30	{height:30px}
.Height22	{height:22px}
.Height15	{height:15px}
.HeightAuto	{height:auto}
.Height12	{height:12px}
.Height37	{height:37px}
.Height25	{height:25px}
.Height70	{height:70px}
.Height19	{height: 19px}
.Height50	{height:50px}
.Height12Overflow	{height:15px;overflow:hidden;}
/**html, body{text-align:center} **/
/* Page Layout and Background Colors ========================================================== */
#wrapper {width:960px;margin:0 auto; text-align:left;}   
#masthead {width:960px;height:122px; margin:0;padding-bottom:5px}    
#topnav {width:100%;width:960px;height:22px;margin-bottom:10px; padding:0}   
#contenttop {float:right;width:750px;padding-right:10px;padding-bottom:10px;padding-left:0px}       
#pagetitletop {float:right;width:750px;padding-top:0px;padding-right:10px;padding-bottom:10px;padding-left:0px}        
#leftcol {float:left;width:180px;margin-bottom:10px;padding-left:0px;}  
#centercol {float:left;width:520px;margin-bottom:10px;padding-left:0px}
#rightcol {float:left;width:220px;margin-bottom:10px;padding-left:0px}
#footer {clear:both;width:960px;}
/* global ------------------------------------------------------------------------- */
body {margin:10px 0; background: #CDD3C5 url(../Images/treebackground2.jpg) 50% 0 no-repeat fixed; color:#333; font:85% Verdana, Arial, Helvetica, sans-serif}
/*
#wrapper {background-color:#FAF8DF}
#leftcol, #centercol, #rightcol {overflow:hidden; position:relative}
broken up in two styles below to allow for the dynamic dropdowns
*/

#rightcol {overflow:hidden; position:relative}
#centercol {overflow:hidden;position:relative;z-index:0} 
                       
#leftcol {overflow:visible;position:relative;}

/* Header CSS Document */
/* skip navigation hide ------------------------------------------------------------------------- */
#logoSkipNav a, #logoSkipNav a:active, #logoSkipNav a:hover, #logoSkipNav a:visited {position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden;} 
/* global navigation menu -------------------------------------------------------------------------  */ 
#navlist {margin:0; padding:0; width:100%; height:22px; font: bold 11px Verdana,sans-serif; background: #37512C url(../../html/FSE_WIDTheme/images/global-nav-up.jpg) 0 0 repeat-x}
#navlist ul {float:right; margin: 0; padding: 0}
#navlist li {float:left; margin:0; padding:5px 0 0 0}
#navlist a {padding: 5px 10px 4px 10px; display:inline; font-size:11px; text-decoration:none}
#navlist a:link, #navlist a:visited {color: #fdfdfd; text-decoration: none;}
#navlist a:hover, #navlist a:active, #vizlink a:link, #vizlink a:visited, #vizlink a:hover, #vizlink a:active {color:#613722; font-weight:bold; text-decoration: none;
background: #EAE3B2 url(../../html/FSE_WIDTheme/images/global-nav-dn.gif) 0 0 repeat-x;}

/* Footer CSS Document */
/* footer ------------------------------------------------------------------------- */
#footer {background: #FFFADC url(../../html/FSE_WIDTheme/images/footer.gif) no-repeat bottom left; border-top:1px solid #37512C }
/* #footer p {padding: 0.625em 0 1.5em 1.125em; font-size:0.85em}*/ /* 10px 0 24px 23px */
#footer p {padding: 0 0 0 2.0em; font-size:0.85em} /* 10px 0 24px 23px */
#footer a {font-size:0.95em; font-weight:normal}

/* Content CSS Document */
h1,h2,h3,h4,h5,h6 {font-family:Helvetica, Arial, sans-serif}
h1 {color:#613722;font-size:1.3em;font-weight:bold}
#nobannerpage h1 {margin:5px 0;padding:0; clear:both}
/* content top ------------------------------------------------------------------------- */
#contenttop h1 {margin:5px 0 0 0;padding:5px 10px; background:#613722 url(../../html/FSE_WIDTheme/images/center-h1.gif) no-repeat top right;border-left:1px solid #F9C66D;}
#contenttop p {margin:0;padding:3px 0;font-size:0.8em}
/* page title top is same as content top :: <div> tag with id 'contenttop' includes breadcrumb portlet while <div> tag with id 'pagetitletop' includes pagetitle portlet. As these two portlets resides in two different row containers of the template, they can not be included under same <div> tag. Also, if we use the <div> tag with same id at multiple places, then xhtml error occurs.------------------------------------------------------------------------- */
#pagetitletop h1 {margin:5px 0 0 0;padding:5px 10px;color:#fdfdfd; background:#613722 url(../../html/FSE_WIDTheme/images/center-h1.gif) no-repeat top right}
#pagetitletop p {margin:0;padding:3px 0;font-size:0.8em}
/**pagetitle top additional styles **/
#pagetitletop a {font-size:1em;line-height:1.4em}
/* left col ------------------------------------------------------------------------- */
#leftcol .navleft {background-color: #EAE3B2}
#leftcol .heading, #leftcol .headingtop {margin:0;padding:4px 10px;background-color:#37512C;color:#fdfdfd;font:bold 0.9375em Arial, Helvetica, sans-serif} 
#leftcol .headingtop {background:#37512C url( ../../html/FSE_WIDTheme/images/left-nav-top.gif) no-repeat top right; width:161px}
#leftcol p {margin:0; padding:5px 10px;font-size:0.85em}
#leftcol p.bot {padding-bottom:10px;background:#EAE3B2 url( ../../html/FSE_WIDTheme/images/left-nav-bot.gif) no-repeat left bottom}
/* search box and button */
#leftcol fieldset {margin:5px 9px 0px 9px}
#leftcol legend, #leftcol label {visibility:hidden; display:none}
#leftcol .search {float:left;width:120px;font-size:1em;margin:0 0 6px}/**width:125**/
#leftcol .buttons button{float:right;display:inline;;margin:0 0 6px;padding:0 1px;background-color:#613722;color:#fdfdfd;line-height:1em;text-decoration:none;vertical-align: top;font:bold 0.8em Verdana, Arial, Helvetica, sans-serif}
#leftcol .buttons button[type]{line-height:17px; /* Safari */}
/* search nav items */
#leftcol ul.searchlist {margin:0 0 0 10px; padding:0 0 10px 0}
#leftcol li.searchitem {margin:0px 0px 0px -9px; padding:0 0 0 10px; background: url(../../html/FSE_WIDTheme/images/left-nav-search.gif) no-repeat left top}
#leftcol ul.searchlist li.searchitem a {font-size:0.9em; font-weight:bold}
/* ia nav items*/
#leftcol ul {margin:0 0 0 10px; padding:0px 0px 3px 0px}/*padding:0px*/
/*padding is changed as with the previous padding a white space was showing up between leftnav and contactus portlets*/
#leftcol li {margin:2px 0 0px;padding:4px 0 1px 10px;background: url(../../html/FSE_WIDTheme/images/left-nav-arr.gif) no-repeat left top; font-size:0.9em;}
/*padding:3px 0 0 10px; margin:2px 0px;*/
/*padding and margin settings are changed as with the previous settings a white space was showing up between leftnav and contactus portlets*/
/*#leftcol li.selected a { color:#ffffff}*/
#leftcol li.selected {margin:6px 6px 0 -4px;padding:5px 3px 3px 15px; background:#613722
url(../../html/FSE_WIDTheme/images/left-nav-sel-arr.gif) no-repeat left top;font-weight:bold; border:1px solid #999}
/*padding:3px 3px 3px 15px;*/
/*padding is changed as with the previous padding a text was not getting aligned with left-nav-sel-arr.gif*/
#leftcol li ul {margin:4px -3px 0 -15px; padding:3px 5px; background-color:#FFFADC}
#leftcol li ul li {margin:2px 5px 3px 8px; padding:2px 0 0 10px; background:url(../../html/FSE_WIDTheme/images/left-nav-sel-cir.gif) no-repeat left top;font-size:1em}
/*margin:2px 5px 2px 8px; padding:0 0 0 10px;*/
/*padding and margin settings are changed to add spacing between two second level items*/
/*#leftcol li.selected ul li a {color:#000099}*/
/* left col selected nav fix - white link */
/* leftcol - level 1 heading (all links)*/
  #leftcol a:link, #leftcol a:visited, #leftcol a:hover, #leftcol a:active{font-weight:bold;text-decoration:none;color:#000099}
  #leftcol a:hover {border-bottom:1px solid #000099}
/* leftcol - selected heading */
  #leftcol li.selected a:link, #leftcol li.selected a:visited, #leftcol li.selected a:active{color:#fff}
  #leftcol li.selected a:hover {border-bottom:1px solid #fff}
/* leftcol - level 2 heading */
  #leftcol li.selected li a:link, #leftcol li.selected li a:visited, #leftcol li.selected li a:active  {color:#000099}  
  #leftcol li.selected li a:hover {border-bottom:1px solid #000099}  
/** leftcol additional styles **/
#leftcol select {width:153px;margin-left:10px; margin-bottom:10px;}  /** ../../html/FSE_WIDTheme/images/ **/
/*20090223 JBB: added class for dynamic dropdowns*/
.absContainer {width:180px;position:absolute;z-index:1;background-color:#EAE3B2;border-bottom-width: 5px;border-bottom-color: #EAE3B2;border-bottom-style:solid;}
.absSpacing {margin-top: 105px;}
   
/* test styles for headings ---------------------------------------------------- */

h1.nobanner {margin:5px 0;padding:0;clear:both}

h2 {margin:20px 0 5px 0;padding:0;color:#613722;font-size:1.2em;font-weight:bold;border-bottom:1px solid #000; clear:both}

/* h3 {margin:10px 0 5px 0;padding:0;color:#032E01;font-size:1em;font-weight:bold; clear:both}*/
h3, h3.rec {margin:10px 0 5px 0;padding:0;color:#613722;font-size:1em;font-weight:bold; background:url(../../html/FSE_WIDTheme/images/line-dot.gif) bottom left repeat-x}
h3.noline {background:none}

h4 {margin:10px 0 5px 0;padding:0;color:#613722;font-size:1em;font-weight:bold; clear:both }
h4.rec {margin:10px 0 5px 0;padding:0;color:#613722;font-size:1em;font-weight:bold;background:url(../../html/FSE_WIDTheme/images/line-dot.gif) bottom left repeat-x}
h4.italic { margin:10px 0 0 0; padding:0; font-size:1em; font-style:italic; clear:both}

h5 { margin:10px 0 0 0; padding:0;color:#613722; font-size:1em; font-weight:bold; font-style:italic; clear:both }

h6 { margin:10px 0 0 0; padding:0;color:#613722; font-size:1em; font-style:italic; clear:both}

#centercol img {margin:5px 10px 0 0;float:left;font-size:0.7em;font-weight:normal} /* border; border:1px solid #333*/
#centercol img.border-blk {margin:5px 10px 0 0;float:left; border:1px solid #333}
#centercol img.full {margin: 10px 0} /*removed border; border:1px solid #333*/
/*
#centercol .imgcaption155  {float:left; width:155px; color:#666; font-size:0.7em}
#centercol .imgcaption155 img {margin:5px 10px 0 0}
#centercol .imgcaption180 {float:left; width:180px;color:#666; font-size:0.7em}
#centercol .imgcaption360 {float:left; width:360px;color:#666; font-size:0.7em}
*/
#centercol p {margin-top:0.5em;font-size:0.9em;line-height:1.4em}
#centercol ul {position: relative; margin:10px 0;padding:0 0 0 10px; list-style:none;line-height:1.4em;clear:left}
#centercol ul li {margin:0;padding-left:10px;font-size:0.9em;background: url( ../../html/FSE_WIDTheme/images/center-col-list.gif) no-repeat}
#centercol ul li ul {margin:0;padding:0}
#centercol ul li ul li {margin:0; padding:0 0 0 10px; font-size:1em; background: url( ../../html/FSE_WIDTheme/images/center-col-list2.gif) no-repeat}
/**Following style is added as text in a <p> tag looks smaller in size when the tag is used inside <li>**/
#centercol ul  p {margin-top:0.5em;font-size:0.95em;line-height:1.4em}
/**Following class is added to <p> tag for smaller text size when the tag is used inside <li>**/
#centercol ul  p.dateline {margin-top:2px;font-size:11px;}
#centercol ol {margin:10px 0;padding:0 0 0 30px;line-height:1.4em}
#centercol ol li {margin:0;padding-left:0px;font-size:0.9em; list-style:decimal;}
#centercol ol li ol {margin:0 10px;padding:0}
#centercol ol li ol li {margin:0; padding:0 0 0 0px; font-size:1em; }
#centercol li a{font-weight:normal}
/* Table styles */
/*default table
#centercol table {margin:10px 0; width:100%;border:1px solid #578000;font-size:0.85em;}
#centercol td,th{border:1px solid #90A644;padding:3px}
#centercol caption{padding:10px 0 0 0;font-size:1.1em;text-align:left}
#centercol thead th{text-align:left;background:#613722}
#centercol tbody th{text-align:left;border-bottom:1px dashed #9ACD32;background:#ECECC6}
#centercol tbody td{border-bottom:1px dashed #9ACD32;background:#FFF}
#centercol tbody tr.odd td{border-bottom:1px dashed #9ACD32;background:#EEE}
#centercol tfoot td{text-align:right;font-weight:bold;background:#F7F1C2}
#centercol img{margin:0;padding:0;}
#centercol a{font-weight:normal}
*/
/*colored table*/
#centercol .tablecolor table {margin:10px 0; /*width:519px;margin-left:1px;*/ width:100%; border:1px solid #578000;font-size:0.85em;}
#centercol .tablecolor th, #centercol .tablecolor td{border-left:1px solid #90A644; padding:5px}
#centercol .tablecolor caption{padding:10px 0 0 0;font-size:1.1em; text-align:left}
#centercol .tablecolor thead th{background:#EAE3B2; color:#613722; text-align:left;}
#centercol .tablecolor tbody th{background:#ECECC6; border-bottom:1px dashed #9ACD32; text-align:left}
#centercol .tablecolor tbody td{background:#FFF; border-bottom:1px dashed #9ACD32}
#centercol .tablecolor tbody tr.odd td{background:#EEE; border-bottom:1px dashed #9ACD32}
#centercol .tablecolor tfoot td{background:#F7F1C2; font-weight:bold; text-align:right}
#centercol .tablecolor img{margin:0;padding:0;}
#centercol .tablecolor a{font-weight:normal}
/*no-style table*/
#centercol .tablebare table {margin:10px 0; width:100%;font-size:0.85em; border:none}
#centercol .tablebare td,th{padding:3px}
#centercol .tablebare caption{padding:10px 0 0 0;font-size:1.1em;text-align:left; border:none}
#centercol .tablebare thead th{text-align:left;font-weight:bold;border:none;border-top:1px solid #999}
#centercol .tablebare tbody th{text-align:left;font-weight:bold;border:none}
#centercol .tablebare tbody td{}
#centercol .tablebare tfoot td{text-align:right;font-weight:bold;border-bottom:1px solid #999}
#centercol .tablebare img{margin:-13px 0 0 0;padding:0;}
#centercol .tablebare a{font-weight:normal}
/*spotlight styles*/
#centercol .spotlight { margin:0 8px 0 0; padding:0; float:left; width:47%; }
#centercol .rssstyle { margin:0 3px 8px 0; padding:0; float:left; width:47%; }
#centercol .spotlight h4 {margin:5px 0 0 0;padding:0; font-size:0.95em}
/*Recarea List on Activity Page Styles (IE)*/
#centercol h3 span.headerbox {float:left; width:260px;}
#centercol h3 span.headerbox a:hover {color: #000099; text-decoration: underline; border-bottom:0px solid #000099 }
#centercol h2 span.headerbox a:hover {color: #000099; text-decoration: underline; border-bottom:0px solid #000099 }
/*Photo Gallery style changes related to Printer Friendly Option*/
#centercol .photogallery {position: relative; float: left;width:362px;}
/**centercol additional styles **/
#centercol img.divider {margin: 7px 10px 0 0;float:left; max-width:95%;border:0px  }
#centercol img.status {margin: 7px 10px 5px 14px;max-width:95%;border:0px  }
#centercol .hline {margin:0 0 5px 0;padding:0;width:100%;background:url( ../../html/FSE_WIDTheme/images/line-dot.gif) repeat-x bottom left; clear:both}
#centercol .morefeatures {float:right;width:15%;text-align:right; margin:-25px 10px 0 0;padding:0 10px 0 0;background:url(/wps/themes/html/FSE_WIDTheme/images/center-col-more.gif) no-repeat right top}
#centercol legend,label {visibility:visible;display:inline}
#centercol div.header {position: relative; float: left; width: 260px;background:#ECECC6 }
#centercol div.show {padding-top:2px; position: relative; float: left; width: 100px;background:#ECECC6 ;border-bottom:1px solid #000}
/**Styles added for more/next/prev links**/
#centercol .more {font-size:1px;vertical-align:super;padding-bottom:3px;padding-left:8px;letter-spacing:0.3px;font-weight:bold;border-bottom:2px dotted #000099}
/* right col ------------------------------------------------------------------------- */
#rightcol .box {margin-bottom:10px;border:1px solid #EAE3B2;background-color:#FFFADC}
#rightcol .boxheading {margin:0;padding:5px;background:#EAE3B2 url( ../../html/FSE_WIDTheme/images/line-dot.gif) repeat-x bottom left; color:#613722; font:bold 0.9375em Verdana, Helvetica, sans-serif}
/*editted by J .boxheading was .box h5 */
#rightcol .box p {margin:0;padding:5px 5px 5px 7px;font-size:0.85em}
#rightcol .box ul {margin:5px; padding:0;font-size:0.85em}
#rightcol .box li {margin:3px 0; padding:0 0 0 10px;background:url( ../../html/FSE_WIDTheme/images/right-box-list.gif) no-repeat left top}
#rightcol .showcase {margin-bottom:10px;border:1px solid #EAE3B2;background-color:#FFFADC;text-align:center}
#rightcol .showcase a:hover{border:none}
#rightcol .showcasetxt {margin:0; padding:5px;font-size:0.85em}
#rightcol .showcasetxt a:hover{color: #000099; border-bottom:1px solid #000099}
#rightcol .showcaseimg {margin:0; padding:0}
#rightcol .showcasebot {float:left; position:relative; right:1px; bottom:-1px;  margin:-19px 0 -2px 0;padding:0; width:13px; height:19px;background: url( ../../html/FSE_WIDTheme/images/right-box-bot.gif) no-repeat bottom left;z-index:10}
/**addtional styles for rightcol*******/
#rightcol .box li.critical {margin:0 0 0 -1px;padding:0 0 0 17px;background:url(../../html/FSE_WIDTheme/images/warning2.gif) no-repeat left top}
#rightcol .box li.critical a{color:#ff0000;font-weight: normal}
/* find an area and activity style */
#rightcol table.widrightcolumnTABLE {font-size:0.85em}
#rightcol table.widrightcolumnTABLE li {font-size:1.2em}
#rightcol table.widrightcolumnTABLE .BodyTextBlackBold {font-weight:bold}
/**Following styles are used for the right-box-top-heading of the
 related info portlet (right-box-top-heading2 is useful when the text is too long to fit in a single line)*****/
#rightcol .right-box-top-heading1 {
font-size:0.85em; font-weight:bold; padding:2px 0 3px 10px; background:url(../../html/FSE_WIDTheme/images/right-box-image-top1.gif)
repeat-x bottom left
}
#rightcol .right-box-top-heading2 { background:url(../../html/FSE_WIDTheme/images/right-box-image-top2.gif)
repeat 
}
/**Styles added for more/next/prev links**/
#rightcol .more {vertical-align:super;padding-bottom:3px;padding-left:2px;letter-spacing:0.3px;font-weight:bold;border-bottom:2px dotted #000099}
/* Links ------------------------------------------------------------------------- */
#contenttop a, #leftcol a, #centercol a {font-weight:bold}
#contenttop a:link, #leftcol a:link, #centercol a:link, #rightcol a:link, #footer a:link {color: #000099; text-decoration:none;}
#contenttop a:visited, #leftcol a:visited, #centercol a:visited, #rightcol a:visited, #footer a:visited {color: #000099; text-decoration:none;}
#contenttop a:hover, #leftcol a:hover, #centercol a:hover, #rightcol a:hover, #footer a:hover {color: #000099; border-bottom:1px solid #000099}
#contenttop a:active, #leftcol a:active, #centercol a:active, #rightcol a:active, #footer a:active {color:#000099}
#centercol a.offsiteicon:hover {color: #000099; border-bottom:1px solid #000099;background-position:center right; }
/* Layout Tables */
#centercol table.themetable {margin:0; padding:0; width:100%; border:none;}
#centercol td.themetd,th.themeth{margin:0; padding:0; border:none}
#centercol caption.themecaption{padding:0;font-size:0;text-align:left}
/* center col full width ------------------------------------------------------------------------- */
#centercolfullwidth {float:left;width:730px;margin-bottom:10px;padding-left:10px}
#centercolfullwidth h2,h3,h4 {font-family:Helvetica, sans-serif}
#centercolfullwidth h2 {margin:5px 0;padding:0;color:#032E01;font-size:1.15em;font-weight:bold}
#centercolfullwidth h3 {margin:15px 0 5px 0;padding:0;color:#A34000;font-size:1.1em;font-weight:bold;border-bottom:1px solid #000}
#centercolfullwidth h4 {margin:15px 0 5px 0;padding:0;color:#032E01;font-size:1em;font-weight:bold; background:url( ../../html/FSE_WIDTheme/images/line-dot.gif) repeat-x bottom left}
#centercolfullwidth img {margin: 7px 10px 0 0;float:left;}
#centercolfullwidth img.full {margin: 10px 0; border:1px solid #333}
#centercolfullwidth p {margin-top:0.5em;font-size:0.9em;line-height:1.4em}
#centercolfullwidth ul {margin:10px 0;padding:0 0 0 18px;font-size:0.9em}
#centercolfullwidth li {margin:3px 0;padding:0;list-style:square url( ../../html/FSE_WIDTheme/images/center-col-list.gif)}
#centercolfullwidth table {margin:0; width:100%;border:1px solid #578000;font-size:0.8em}
#centercolfullwidth td,th{border:1px solid #90A644;padding:3px}
#centercolfullwidth caption{padding:5px 0;font-size:1.1em;text-align:left}
#centercolfullwidth thead th{text-align:left;background:#613722}
#centercolfullwidth tbody th{text-align:left;border-bottom:1px dashed #9ACD32;background:#ECECC6}
#centercolfullwidth tfoot td{text-align:right;font-weight:bold;background:#F7F1C2}
#centercolfullwidth tbody td{border-bottom:1px dashed #9ACD32;background:#FFF}
#centercolfullwidth tbody tr.odd td{border-bottom:1px dashed #9ACD32;background:#EEE;border-bottom:1px dashed #9ACD32}
/**centercol additional styles **/
#centercolfullwidth img.divider {margin: 7px 10px 0 0;float:left; max-width:100%;border:0px  }
#centercolfullwidth hr {margin: 0;padding: 0;border-bottom: 1px dotted #000;}
#centercolfullwidth p.morefeatures {text-align:right; margin:5px 0;padding-right:35px;background:url(../../html/FSE_WIDTheme/images/center-col-more.gif) no-repeat right top}
/* center col full width for filter ------------------------------------------------------------------------- */
#centercolfullwidthforfilter {float:left;width:565px;margin-bottom:10px;padding-left:10px}
#centercolfullwidthforfilter h2,h3,h4 {font-family:Helvetica, sans-serif}
#centercolfullwidthforfilter h2 {margin:5px 0;padding:0;color:#032E01;font-size:1.15em;font-weight:bold}
#centercolfullwidthforfilter h3 {margin:15px 0 5px 0;padding:0;color:#A34000;font-size:1.1em;font-weight:bold;border-bottom:1px solid #000}
#centercolfullwidthforfilter h4 {margin:15px 0 5px 0;padding:0;color:#032E01;font-size:1.05em;font-weight:bold; background:url( ../../html/FSE_WIDTheme/images/line-dot.gif) repeat-x bottom left}
#centercolfullwidthforfilter img {margin: 7px 10px 0 0;float:left; max-width:100%; border:1px solid #333}
#centercolfullwidthforfilter img.full {margin: 10px 0; border:1px solid #333}
#centercolfullwidthforfilter p {margin-top:0.5em;font-size:0.9em;line-height:1.4em}
#centercolfullwidthforfilter ul {margin:10px 0;padding:0 0 0 18px;font-size:0.9em}
#centercolfullwidthforfilter li {margin:3px 0;padding:0;list-style:square url( ../../html/FSE_WIDTheme/images/center-col-list.gif)}
#centercolfullwidthforfilter table {margin:0; width:100%;border:1px solid #578000;font-size:0.8em}
#centercolfullwidthforfilter td,th{border:1px solid #90A644;padding:3px}
#centercolfullwidthforfilter caption{padding:5px 0;font-size:1.1em;text-align:left}
#centercolfullwidthforfilter thead th{text-align:left;background:#613722}
#centercolfullwidthforfilter tbody th{text-align:left;border-bottom:1px dashed #9ACD32;background:#ECECC6}
#centercolfullwidthforfilter tfoot td{text-align:right;font-weight:bold;background:#F7F1C2}
#centercolfullwidthforfilter tbody td{border-bottom:1px dashed #9ACD32;background:#FFF}
#centercolfullwidthforfilter tbody tr.odd td{border-bottom:1px dashed #9ACD32;background:#EEE;border-bottom:1px dashed #9ACD32}
/**********For Recarea Matrix***************/	
#link_1 {height:20px;width:125px;color:#FFFFFF; background:#8E909C; text-decoration:none;}
#link_1:visited {height:20px;width:125px;color:#000000; background:#080;text-decoration:none;}
#link_1:hover {height:20px;width:125px;color:#000000; background:#E7DE9C;text-decoration:none;}
#link_1:active {height:20px;width:125px;color:#000000; background:#cc0;text-decoration:none;}
#link_2 {height:20px;width:125px;color:#FFFFFF; background:#37512C;text-decoration:none;}
.hideRow {display:none;}
.showRow {display:table-row-group;}
.Height12Overflow   {height:20px;overflow:hidden;}

.offsiteicon {padding-right:15px;background:url(../../html/FSE_WIDTheme/images/offsite_link.gif) bottom right no-repeat;}


#masthead .header{width:960px; height:122px; position:absolute;background-color:#CCC000;}
#righthead .headercorner {width:960px;height:122px;position:absolute;background:url(../../html/FSE_WIDTheme/images/headercorner.gif) no-repeat top right;}



#usdalogo {
	height: 37px;    
	left: 12px;
	position: absolute;                                       
	top: 12px;  
	width: 54px;
}

	#usdalogo a {
		background-color: transparent;
		background-repeat: no-repeat; 
		background-position: top left;
		background-image: url(../../html/FSE_WIDTheme/images/logousda.gif); 
		display: block;
		height: 37px;
		width: 54px;	
	}
	
#usdatitle {
	left: 70px;
	position: absolute;   
	top: 0.7em;
}

	#usdatitle a {		
		color: #00005c;
		font-family: Arial,Verdana,sans-serif; 
		font-size: 0.75em;
		text-decoration: none;	
	}
	
#fstitle {
	left: 70px;
	position: absolute;
	top: 1.85em;    
}

	#fstitle a {
		color: #00005c;
		font-size: 1.25em;
		font-weight: normal;
		text-decoration: none;
	}

#foresttitle {
	right: 100px;
	position: absolute;
	top: 0.65em;
	text-align: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

	#foresttitle a {
		color: #efefef;
		font-weight: normal;
		font-size: 1.2em;
		line-height: 1.1;
		text-decoration: none;
		text-shadow:1px 1px 1px #000000;
	}

#forestsubtitle {
	right: 15px;
	position: absolute;
	top: 6.00em;
	text-align: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

	#forestsubtitle a {
		color: #efefef;
		font-weight: normal;
		font-size: 1.0em;
		line-height: 1.1;
		text-decoration: none;
		text-shadow:1px 1px 1px #000000;
	}

#fslogo {
	display: block;
	height: 51px;
	position: absolute;
	right: 15px;
	top: 5px;
	width: 48px;
}

	#fslogo a {
		display: block;
		background: transparent url(../../html/FSE_WIDTheme/images/logofs.gif) no-repeat top left;
		height: 51px;		
		width: 48px;      
	}
 

	#leftcol {    
		/*-moz-box-shadow: 0 2px 10px #333333;
		-webkit-box-shadow: 0 2px 10px #333333;
		box-shadow: 0 2px 10px #333333;*/
		-moz-border-radius: 0 20px 0 20px;
		-webkit-border-top-right-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		border-radius: 0 20px 0 20px;

	}

		/** Google Map Style **/
	/************** .js STYLES ****************/
	  .ewin_div1 img {
			margin: 0;
			position: static;
		}
	  .ewin_close {
	  	border: none;
		cursor:pointer;
	  }
	  .ewin_png_bg {
	  	display: block;
	  }
	  .ewin_content {
	  	position: absolute;
		padding: 10px  0;
		text-align: center;
		/*border: 1px solid #FF0000;*/
	  }
	  .ewin_content_inner {		
		text-align: center;
		float: left;
		color: #000000;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 13px;
		/*border: 1px solid #FF0000;*/
	  }
	.ewin_content_inner div,
	.ewin_content_inner p {
		margin: 0;
		padding: 0;
	}
	  
/*********** html_function STYLES ******************/	  
	.ewin_content .ewin_hdr,
	.ewin_content .ewin_title,
	.ewin_content .ewin_subtitle,
	.ewin_content .ewin_body,
	.ewin_content .ewin_ftr {
		padding: 0;		
		vertical-align: top;
		text-align: left;
		margin: 0 auto;
	}  
	.ewin_content .ewin_title h3 {
	  	font-size:14px;
		line-height: 16px;
		padding: 0;
		margin: 0;
		clear: none;
		/*border-bottom: 1px solid;
		border-color:#583934;*/
	  }
	  .ewin_content .ewin_subtitle h4 {
	  	font-size:12px;
		line-height: 14px;
		margin: 0;
		margin-bottom: 8px;
		padding: 0;
	  }
	  .ewin_content .ewin_subtitle h4 p {
	  	clear: both;
		margin: 0;
		padding: 0;
		margin-bottom: 2px;
	  }
	  .ewin_content .ewin_subtitle h4 label {
	  	display: block;
		float: left;
		width: 50px;
		text-align: right;
	  }
	  .ewin_content .ewin_subtitle h4 span {
	  	display: block;
		margin-left: 60px;
		font-weight: normal;
	  }

	 /* .ewin_content .ewin_activityList {
	    
		display:block;
	  	margin-bottom: 10px;
	  }*/


	
      #ewin_activityList img{

	  margin : 0;
	  padding: 0;

	  }

	  .ewin_content .ewin_body p{
		margin: 0;
		margin-bottom: 7px;
		padding: 0;
	  }

	  /*.ewin_content .ewin_ftr {
		text-align: right;
		padding: 5px 0 0 0;
		border-top: 1px solid;
	  } */

     #ewin_ftr {
		text-align: right;
		padding: 5px 0 0 0;
		border-top: 1px solid #fff;
		color:#FFFFFF;
	 }

	 #ewin_ftr a:link, #ewin_ftr a:active, #ewin_ftr a:visited, #ewin_ftr a:hover{
        color: rgb(221, 174, 34);
        text-decoration:none;
		border-bottom:none;
		margin-right:10px;

	 }

/************* ESTYLE SPECIFIC ********************/
	.FSyellow .ewin_content {
		padding: 8px 0 10px 0;
	}	
	.FSyellow .ewin_content_inner {
		width: 100%;
		
	}
	.FSyellow {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 13px;
	  }
	.FSyellow .ewin_hdr {
		width: 100%;
		float: left;
		background: url(../img/FSyellow_bg_header.gif) repeat-y left top;
		border-bottom: 1px solid #848e5d;
	}	  
	.FSyellow .ewin_icon {
		float: left;
		margin-left: 7px;
	}
	.FSyellow .ewin_title {
		padding-right: 25px;
		padding-left: 14px;
	}
	.FSyellow .ewin_title h3 {
		line-height: 15px;
	}
	.FSyellow .ewin_subtitle {
		padding-top: 6px;
	}
	.FSyellow .ewin_subtitle span {
		font-size: 11px;
		line-height: 13px;
	}
	.FSyellow .ewin_subtitle,
	.FSyellow .ewin_ftr,
	.FSyellow .ewin_body {
		clear: both;
		width: 90%;
		margin: 0 auto;
	}
	.FSyellow .ewin_ftr {
	border-color:#848e5d;
	}


/********** FSrec *************/
	
	.FSrec .ewin_content {
		padding: 10px 0 7px 0;
	}	
	.FSrec .ewin_content_inner {
		width: 100%;
		float: left;
	}
	.FSrec {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		line-height: 13px;
		color: #FFFFFF;
	  }
	.FSrec p {
		color: #FFFFFF;
	}
	.FSrec .ewin_hdr {
		
	}	  
	.FSrec .ewin_icon {
		float: left;
	}
	.FSrec .ewin_title {
		padding-right: 30px;
	}
	.FSrec .ewin_title h3 {
		line-height: 15px;
		color: #FFFFFF;
	}
	.FSrec .ewin_subtitle span {
		font-size: 11px;
		line-height: 13px;
	}
	.FSrec .ewin_hdr,
	.FSrec .ewin_subtitle,
	.FSrec .ewin_ftr,
	.FSrec .ewin_body {
		clear: both;
		width: 90%;
		margin: 0 auto;
		color: #FFFFFF;
	}
	.FSrec .ewin_ftr {
	border-color:#FFFFFF;
	
	}
	.FSrec .ewin_ftr A:link {
		color:#DDAE22;
	}
	.FSrec .ewin_ftr A:hover {
		color:#F1DEA5;
		text-decoration:none;
	}
#map_container {
	 margin-top: 20px;
	 position: relative;
	 /*border-left: 2px solid #EAE3B2;*/
}
.map_2col {
	width: 748px;
}
.map_3col {
	width: 518px;
}


/************** HEADER *************/
#map_header {
     font-family : Verdana, Arial, Helvetica, sans-serif ;
     font-size : 12px ;
	 /* border-bottom:  1px solid #EAE3B2;*/
     padding : 5px 0 3px 0;
	 margin : 0px;
	 float:left;
	 width: 100%;
     background: #EAE3B2 url(../img/mapHdr_bg.gif) no-repeat right top;
     text-align : center;
}

/*#map_header table {
	margin: 0 auto;
}
#map_header table td {
	padding-right: 5px;
}*/
#map_headerLeft {
	margin: 0;
	margin-left: 6px;
	padding: 0;
	width: 40%;
	float:left;
}
#map_headerLeft ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#map_headerLeft ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
#map_headerLeft ul li img,
#map_headerLeft ul li a {
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	margin-right: 5px;
}
#map_headerRight {
	float:right;
	width: 40%;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}
#map_body {
	
	/*border : #fdc870 2px solid ;*/
	border-top: none;
	border-left: none;
	clear:both;
}
.map_2col #map_body {
	height: 726px;
}

.map_3col #map_body {
	height: 496px;
}
#gMap {   
     height: 100%;
border: 1px solid #EAE3B2;	 
}

/****************** Info windows **************/

	table.iwin_table {
		width: 276px;
	}
	table.iwin_table td {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px;
		color: #444444;
		text-align: left;
		vertical-align: top;
	}	
	td.iwin_icon {
		padding: 0;
	}
	td.iwin_title {
		padding-left: 8px;
	}
	td.iwin_title h3 {
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		font-size: 13px;
		color: #965e3a;
	}
	td.iwin_title h4 {
		clear: both;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		font-size: 11px;
		line-height: 13px;
	}
	td.iwin_title h4 p {
		clear: both;
		margin: 0;
		padding: 0;
	}
	td.iwin_title h4 label {
		padding: 0;
		margin: 0;
		width: 70px;
		float: left;
		text-align: right;
	}
	td.iwin_title h4 span {
		display: block;
		margin-left: 76px;
	}
	td.iwin_body {

	}
	td.iwin_body p {
		padding: 0;
		margin: 0;
		margin-bottom: 4px;
	}
	p.iwin_footer {
		
		text-align: right;
	}
	td.iwin_title span.norm {
		font-weight: normal;
	}
#contentframe {
        BORDER-TOP: #b8b8b8 1px solid;width:516px;border-right: 2px solid #B8B8B8;border-bottom: 2px solid #B8B8B8;border-left: 2px solid #B8B8B8; BACKGROUND: #e7eee6 no-repeat 90% 50%;     OVERFLOW: hidden; HEIGHT: 40px; TEXT-ALIGN: left
    }
    #slidecounter {
        BORDER-RIGHT: green 0px solid; BORDER-TOP: green 0px solid; FLOAT: left; MARGIN: 10px 5px; FONT: bold 11px "Verdana", Arial, sans-serif; BORDER-LEFT: green 0px solid; WIDTH: 30px;    COLOR: #000000; BORDER-BOTTOM: green 0px solid
    }
    #navigation {
    BACKGROUND: #e7eee6 no-repeat 90% 50%;  PADDING-TOP: 5px; MARGIN: 0px;float:right;
   }

   #navigation img{
    padding:0 0 0 0;margin:0 0 0 10;
   }
   #supersize {
     margin:0 10px 0 0; padding:0; float:left; width:480px; 
   }
   #supersize  {
    BORDER-RIGHT: blue 0px solid; BORDER-TOP: blue 0px solid; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left;padding:0px 5px 10px 5px; MARGIN: 0px; BORDER-LEFT: blue 0px solid; WIDTH: 510px; BORDER-BOTTOM: blue 0px solid; POSITION: absolute; HEIGHT: 210px;
   }
