﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
#headerTitle
{
    background: url('Images/header_title.jpg');
    width: 733px;
    height: 82px;
    float: left;
    background-repeat: no-repeat;
}

body
{
    background-color: #2E311A;
    font-size: .70em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #034af3;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

img
{
    border: none;
}

textarea
{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h3> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #006600;
    padding: 0;
    background-image: url('Images/title_bg.jpg');
    background-repeat: repeat-x;
    height: 110px;
}

#header h1
{
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px !important;
}

#main
{
    margin: 0px;
    background-color: #fff;
    color: #000000;
    float: left;
    width: 100%;
    padding: 0px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    background-image: url('Images/footer_bg.jpg');
    background-repeat: repeat-x;
    text-align: left;
    width:100%;
    height: 60px;
    padding-top:10px;
    margin: 0;
    float: left;
}

#contentArea
{
    padding: 5px 0px 5px 0px;
    float: left;
}

#welcome
{
    width: 99%;
    padding: 5px 5px 10px 5px;
    background-image: url('Images/welcome_bg.jpg');
    background-repeat: repeat-x;
    background-position: bottom;
}

/* TAB MENU
----------------------------------------------------------*/
#menu
{
    background-image: url('Images/nav_bar.jpg'); background-repeat: repeat-x;
    border-bottom: 1px #5C87B2 ;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    float: left;
    width: 100%;
}

#navigation
{
    float: left;
    margin-left: 0px;
    clear: both;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 14px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #434F27;
}

#navigation li a:hover
{
    color: #F4EBA6;
}

#navigation li a#selected
{
    background-image: url('Images/nav_current.jpg');
    background-position: right;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: none;
    border-collapse: collapse;
}

table td 
{
  padding: 6px;
  border: none;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
#loading
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.centered
{
    position: fixed;
    top: 49%;
    left: 49%;
    color: Black;
    padding: 4px 7px 4px 7px;
    font-size: large;
    background-color: White;
}

.invisible
{
    display: none;
}

.tabArea
{
    padding: 15px 5px 15px 5px;
}

.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:60px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#headerDisplay
{
    padding: 10px 30px 0px 0px;
    text-align: right;
}

#loginDisplay
{
    font-size: 1.1em;
    display: block;
    color: White;
}

a.logoutButton
{
    background: url('Images/logout.gif') no-repeat left top;
}

.legend
{
    border: 1px solid gray;
    padding: 3px;
    width: 375px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors,
.validation-summary-errors-client
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* Styles for fonts
-----------------------------------------------------------*/
.pageTitle
{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 0px 15px 0px;
}

.pageDesc
{
    display: block;
    font-style: normal;
    font-weight: normal;
    width: 700px;
}

.sectionTitle
{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 0px 0px 15px 0px;
}

.fieldLabel
{
    font-style: normal;
    font-weight: bold;
}

.breadcrumb
{
    font-style: normal;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.text
{
    font-style: normal;
    font-weight: normal;
}

.filterArea
{
    background-color: #fbf9e2;
    border: 1px solid #f6eca5;
}

.filterAreaTitle
{
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #f6eca5;
    background-color: #fbf9e2;
    padding: 10px 15px 10px 15px;
    font-weight: normal;
    width: 125px;
}

.required
{
    color: Red;
}

.message
{
    padding: 5px;
    background-color: #D9FFD9;
    border: 2px solid #009900;
    font-weight: normal;
    font-style: italic;
}

.updated
{
    background-color: #B3FFB3;
}

.separator
{
    border-right: 1px;
    border-color: Black;
    border-right-style: solid;
}

/* Styles for link buttons
-----------------------------------------------------------*/
.button, .button:visited
{
    background-color: #E69433;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    outline: none;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:.7em;
    padding-right:.7em;   
    text-align: center;
    white-space:nowrap;
}

.buttonDisabled
{
    background-color: #E69433;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: default;
    font-size: 11px;
    outline: none;
    padding: 2px 4px 2px 4px;
    text-align: center;
    color: Gray;
}

.button:hover
{
    background-color: #E8A95E;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    outline: none;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:.7em;
    padding-right:.7em;
    text-align: center;
}

input
{
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
}

input[type="submit"].button, input[type="button"].button
{
    background-color: #E69433;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;  
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    text-align: center;
    white-space:nowrap;
    padding-top:2px;   
    padding-bottom:2px;
    padding-left:.7em;
    padding-right:.7em;
    vertical-align:middle;
    font-family: Verdana, Helvetica, Sans-Serif;
}

input[type="submit"].button:hover, input[type="button"].button:hover
{
    background-color: #E8A95E; 
}

a.button, a.button:visited
{
    background-color: #E69433;
    border-color: #FFFFFF;  
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
    white-space:nowrap;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:.7em;
    padding-right:.7em;
    vertical-align:middle;
    font-family: Verdana, Helvetica, Sans-Serif;
}

a.buttonDisabled, a.buttonDisabled:visited
{
    background-color: #E69433;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #C8C8C8;
    cursor: default;
    font-size: 11px;
    outline: none;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
}

a.button:hover
{
    background-color: #E8A95E;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
    padding-top:2px;   
    padding-bottom:2px;
    padding-left:.7em;
    padding-right:.7em;
    vertical-align:middle;
    font-family: Verdana, Helvetica, Sans-Serif; 
}

a.altButton
{
    background-color: #657f34;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    outline: none;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
}

a.altButton:hover
{
    background-color: #75A41c;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    outline: none;
    padding: 3px 4px;
    text-align: center;
    text-decoration: none;
}

.tooltip
{
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #eee;
	padding: 2px 6px;
	font-size: 11px;
    font-style: normal;
    font-weight: normal;
}

/* Styles for letter coding page
-----------------------------------------------------------*/
.letterCodingActionButtons
{
    margin-right: 10px;
    text-align: right;
    padding-bottom: 10px;
}

.fullCodingContainer
{
    position:absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: 100;
    background-image: url('Images/spacer.jpg');
    background-repeat: repeat;
}

.codingContainer
{
    position: relative;
    height: 400px;
    padding-top: 10px;
}

#codingArea
{
    vertical-align: top;
    right: 0px;
    width: 280px;
    height: 100%;
    position: absolute;
    overflow: auto;
}

.codingAreaBuffer
{
    margin-right: 280px;
}

.toolbar
{
    padding: 4px;
    background-color: #C0C0C0;
    border: 1px solid #808080;
}

.commentArea
{
    height: 265px;
    overflow: auto;
    border: 1px solid #C0C0C0;
    padding: 3px;
    line-height: 150%;
}

.fullCommentArea
{
    overflow: auto;
    border: 1px solid #C0C0C0;
    padding: 3px;
    line-height: 150%;
}

#actionArea
{
    padding: 5px;
    width: 600px;
}

#codingLegend
{
    margin-left: 10px;
    border: 1px solid gray;
    width: 500px;
}

#codingAreaPadding
{
    display: none;
    height: 35px;
}

#currentComment
{
    display: inline-block;
    width: 160px;
    text-align: center;
}


.cursor
{
    border-left: 1px solid black
}

.pending
{
    background-color: #FFC1A4;
}

.position-static-important 
{
    position: static !important;
}

/*Styles for Custom Report Configuration page
-----------------------------------------------------------*/
.customReportSectionHeader
{
    background-color:#434F27;
    color: #FFFFFF;
    font-weight: bold;
}

.customReportValueSectionSmall
{
    height: 60px;
    vertical-align: top;
    padding-top: 0px;
}

.customReportValueTable
{
    padding-left: 0px;
}

.customReportSummaryTable
{
     width: 275px;
     background-color: #fbf9e2;
     margin-top:10px;
}

.customReportSummaryFieldType
{
    font-style: normal;
    font-weight: bold;
}

.customReportSummaryField
{
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.customReportSummaryItem
{
    padding: 0px 2px 0px 15px;
}

.customReportSummaryButton
{
    padding: 0px 6px 0px 2px;
    text-align: right;
    width:75px;
}
    

.customReportSummaryColor
{
    background-color:#434F27;
    color:#FFFFFF;
    padding: 2px 2px 2px 2px;
}

.phaseObjectionField
{
    display: none;
}