﻿/* Default theme custom css */

/* style to fix the header columns with a line break */ 
.t-grid .t-grid-header .t-header .t-link
{
    height: auto;
}


div.t-grid td {
    vertical-align: top;
}