body
{
	background-color:#FFF;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	scrollbar-3dlight-color:#F0F0EE;
	scrollbar-arrow-color:#676662;
	scrollbar-base-color:#F0F0EE;
	scrollbar-darkshadow-color:#DDD;
	scrollbar-face-color:#E0E0DD;
	scrollbar-highlight-color:#F0F0EE;
	scrollbar-shadow-color:#F0F0EE;
	scrollbar-track-color:#F5F5F5
}

td,
th
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px
}

.mce-object
{
	border:1px dotted #3A3A3A;
	background:#d5d5d5 url(img/object.gif) no-repeat center
}

.mce-pagebreak
{
	cursor:default;
	display:block;
	border:0;
	width:100%;
	height:5px;
	border:1px dashed #666;
	margin-top:15px;
	page-break-before:always
}

@media print{.mce-pagebreak{border:0}}

.mce-item-anchor
{
	cursor:default;
	display:inline-block;
	-webkit-user-select:all;
	-webkit-user-modify:read-only;
	-moz-user-select:all;
	-moz-user-modify:read-only;
	user-select:all;
	user-modify:read-only;
	width:9px!important;
	height:9px!important;
	border:1px dotted #3A3A3A;
	background:#d5d5d5 url(img/anchor.gif) no-repeat center
}

.mce-nbsp{background:#AAA}

hr{cursor:default}

.mce-match-marker{background:#AAA;color:#fff}

.mce-match-marker-selected
{
	background:#39f;
	color:#fff
}

.mce-spellchecker-word
{
	border-bottom:2px solid red;
	cursor:default
}

.mce-spellchecker-grammar
{
	border-bottom:2px solid green;
	cursor:default
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption
{border:1px dashed #BBB}

td.mce-item-selected,
th.mce-item-selected{background-color:#39f!important}

.mce-edit-focus{outline:1px dotted #333}

.bookmark
{
    display: none;
}

.commentTagShow
{
    background-color: #FFFF99;
}

.commentTagHide
{
    display: none;
}

.commentTagCurrent
{
    background-color: #78DA76;
}

.commentTextShow
{
    background-color: #FFFFD9;
}

.commentTextHide
{
    background-color: #FFFFFF;
}

.commentTextCurrent
{
    background-color: #CCFFCC;
}

.autoMarkupTagShow
{
    display: none;
}

.pendingTagHide
{
    display: none;
}

.autoMarkupTagHide
{
    display: none;
}

.autoMarkupTagCurrent
{
    display: none;
}

.autoMarkupTextShow
{
    background-color: #CEDEFF;
}

.autoMarkupTextHide
{
    background-color: inherit;
}

.linkTagShow
{
    background-color: #FFFFD9;
}

.linkTagHide
{
    display: none;
}

.linkTagCurrent
{
    background-color: #CCFFCC;
}

.autoMarkupTextCurrent
{
    background-color: #CCFFCC;
}

.highlight
{
    background-color: #000066;
    color: #FFFFFF;
}